<main class="page">

  <header class="header">
    <div class="recipiente-header">
      <div class="header-texto">
        <h4 *ngIf="usuario && usuario.titulo != null"> {{ usuario.titulo }} </h4>
        <a class="curriculo" href="https://tsemh.com/assets/banco-arquivos/Tiago_curriculo.pdf" target="_blank">Visualizar Curriculo</a>
      </div>\ 
    </div>\ 
  </header>

  <section class="destaques">
    <div class="h2">
      <h2> {{ tituloMain }} </h2>
    </div>
    <div class="recipiente-listas">
      <div class="recipiente-lista" *ngFor="let registro of registro" (click)="selecionarRegistro(registro.id)" (click)="redirecionaPara('detalhes')">

        <h5>{{ registro.nome }}</h5>
        <img src="../../../assets/logo/logo-hori-bco.png" alt=" " class="img-registro">

        <div class="tag-lista">
          <a *ngFor="let categoria of categorias" class="tag"> {{ categoria.titulo }}
          </a>
        </div>

      </div>
    </div>
  </section>
  <section class="container-sobre">
    <div class="sobre"> 
    <div class="foto-sobre" alt=""></div>
    <article class="texto-sobre">
      <h6>O Desenvolvedor</h6>
      <h4 *ngIf="usuario && usuario.titulo != null"> {{ usuario.nome }}</h4>
      <p class="paragrafo-sobre"*ngFor="let paragrafo of paragrafos">{{ paragrafo }}</p>
    </article>
    </div>
  </section>
</main>